services:
  {{ app_name }}:
    image: {{ docker_image }}:{{ docker_tag | default("latest") }}
    container_name: {{ app_name }}
    ports:
      - "{{ web_app_port }}:{{ web_app_internal_port }}"
    environment:
      {% for key, value in web_app_env.items() %}
      - {{ key }}={{ value }}
      {% endfor %}
      - SECRET_KEY={{ app_secret_key | default("") }}
    restart: {{ app_restart_policy | default("unless-stopped") }}
