# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
terraform.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# macOS
.DS_Store

# Credentials
*.pem
*.key
*.json
!terraform.tfvars.example
