# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Crash log files
crash.log

# Exclude all .tfvars files
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include tfplan files to ignore the plan output
*.tfplan

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Secret files
key.json
*.pem
*.key
