# Secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Go
bin/
dist/

# Logs
*.log

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporary/runtime files
*.pid
*.tmp
*.swp
*.swo
