# Grafana datasource provisioning - Loki (Ansible Lab 7)
apiVersion: 1
datasources:
  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: http://loki:{{ loki_port }}
    isDefault: false
    editable: false
