apiVersion: 1

datasources:
  - name: Loki
    type: loki
    uid: loki-ds
    access: proxy
    url: http://loki:{{ loki_port }}
    isDefault: true
    editable: true

  - name: Prometheus
    type: prometheus
    uid: prometheus-ds
    access: proxy
    url: http://prometheus:{{ prometheus_port }}
    isDefault: false
    editable: true
