global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_scrape_interval }}

scrape_configs:
{% for target in prometheus_targets %}
  - job_name: '{{ target.job }}'
    static_configs:
{% if target.use_host_gateway is defined and target.use_host_gateway %}
      - targets: ['host.docker.internal:{{ target.port }}']
{% else %}
      - targets: {{ target.targets | to_json }}
{% endif %}
{% if target.path is defined %}
    metrics_path: '{{ target.path }}'
{% endif %}

{% endfor %}
