# Игнорируем папку с плагинами Terraform (они скачиваются при init)
.terraform/
.terraform.lock.hcl

# Игнорируем файлы состояния (в них хранятся IP и настройки, нельзя светить)
*.tfstate
*.tfstate.backup

# Игнорируем файлы с переменными (там могут быть пароли)
*.tfvars

# Игнорируем ключи доступа к облаку (САМОЕ ВАЖНОЕ)
authorized_key.json